html {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 500px;
}

body,
input {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #eee;
  padding: 0.5rem;
}

label {
  display: inline-block;
  width: 10rem;
  padding: 0.5rem;
}

input {
  width: 5rem;
  padding: 0.5rem;
  background-color: white;
  border: solid 1px #ccc;
}

.inputs > div {
  margin-bottom: 0.5rem;
  background-color: white;
  padding: 0.5rem;
}

.outputs {
  padding: 0.5rem;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

.github {
  text-align: center;
  a {
    color: #999;
  }
  margin-top: 1rem;
}

// remove spin box on input elements with type type 'number'
// ref: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.presets {
  display: none;
  text-align: center;
  .preset {
    border: solid 1px #999;
    padding: 0.5rem;
    margin: 0.5rem 0.1rem;
    background-color: white;
    cursor: pointer;
  }
}

.save {
  text-align: center;
}
